<?xml version="1.0" encoding="utf-8" ?>

<!--
//
//  
//  LiveFlight Connect
//
// App.config
//  Copyright © 2015 [AUTHOR]. All rights reserved.
//
//  Licensed under GPL-V3.
//  https://github.com/LiveFlightApp/Connect-Windows/blob/master/LICENSE
//
-->
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>