<?xml version="1.0" encoding="utf-8"?>
<!--
//
//  
//  LiveFlight Connect
//
// packages.config
//  Copyright © 2015 [AUTHOR]. All rights reserved.
//
//  Licensed under GPL-V3.
//  https://github.com/LiveFlightApp/Connect-Windows/blob/master/LICENSE
//
-->
<packages>
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
  <package id="Sharpbrake.Client" version="4.4.0" targetFramework="net452" />
  <package id="SharpDX" version="3.0.0" targetFramework="net45" />
  <package id="SharpDX.DirectInput" version="3.0.0" targetFramework="net45" />
</packages>